Repository junegunn/fzf, pull requests merged in 2020-03, with the labels that each got.

#1878 Add explanation for the `g:fzf_color` vim setting
  README-VIM.md
  man/man1/fzf.1
Labels: doc

#1936 [zsh-completion] Fix a bug where _fzf_complete did not iterate through args
  shell/completion.zsh
  test/test_go.rb
Labels: bug

#1944 [zsh] Ensure that fzf code always parses the same way
  shell/completion.zsh
  shell/key-bindings.zsh
Labels: enhancement
