Repository junegunn/fzf, pull requests merged in 2020-02, with the labels that each got.

#1847 Use native walker since output of DOS command is not UTF-8 encoded (Makes fzf 300x faster on Windows)
  go.mod
  go.sum
  src/constants.go
  src/reader.go
Labels: enhancement, windows

#1861 consider ambiwidth for border
  plugin/fzf.vim
Labels: enhancement

#1845 Add batch file to support windows installation for fzf.exe
  install.ps1
Labels: windows

#1844 Make pointer and selected sign customizable
  man/man1/fzf.1
  shell/completion.bash
  src/options.go
  src/options_test.go
  src/terminal.go
  test/test_go.rb
Labels: feature

#1876 [bash] Put C-t items at point in vi mode
  .travis.yml
  shell/key-bindings.bash
  test/test_go.rb
Labels: enhancement

#1881 [bash] Restore insertion point pre Bash 4
  shell/key-bindings.bash
Labels: enhancement

#1837 [bash] Multiline C-r without histexpand
  shell/key-bindings.bash
Labels: enhancement

#1886 [bash] Start C-r search with current command line
  .travis.yml
  shell/key-bindings.bash
  test/test_go.rb
Labels: enhancement
