Repository junegunn/fzf, pull requests merged in 2020-10, with the labels that each got.

#2145 Feature: Add action preview-half-page-down
  CHANGELOG.md
  man/man1/fzf.1
  src/options.go
  src/terminal.go
Labels: feature

#2208 [fish] Fix parser handling of option-like args
  shell/key-bindings.fish
Labels: bug

#2215 Implement streaming preview window
  CHANGELOG.md
  README.md
  src/constants.go
  src/terminal.go
  src/tui/dummy.go
  src/tui/light.go
  src/tui/tcell.go
  src/tui/tui.go
Labels: enhancement

#2224 Fix: barbled multibyte text(exe. Japanese).
  plugin/fzf.vim
Labels: bug, windows
