Repository junegunn/fzf, pull requests merged in 2024-05, with the labels that each got.

#3763 Fix unreliable GOOS detection
  Makefile
Labels: enhancement

#3768 feature: header-click event for reporting clicks within header
  man/man1/fzf.1
  src/options.go
  src/terminal.go
  src/tui/tui.go
Labels: feature

#3769 Refactor the code so that fzf can be used as a library
  Makefile
  main.go
  main_test.go
  src/actiontype_string.go
  src/algo/algo.go
  src/algo/normalize.go
  src/ansi.go
  src/cache.go
  src/constants.go
  src/core.go
  src/matcher.go
  src/options.go
  src/options_no_pprof.go
  src/options_test.go
  src/pattern.go
  src/pattern_test.go
  src/protector/protector.go
  src/reader.go
  src/server.go
  src/terminal.go
  src/tokenizer_test.go
  src/tui/dummy.go
  src/tui/eventtype_string.go
  src/tui/light.go
  src/tui/light_unix.go
  src/tui/light_windows.go
  src/tui/tcell.go
  src/tui/tui.go
  src/util/atexit.go
  src/util/util_unix.go
  src/util/util_windows.go
  test/test_go.rb
Labels: enhancement, feature
