Repository junegunn/fzf, pull requests merged in 2025-01, with the labels that each got.

#4157 add `border-native` option to `--tmux` flag
  ADVANCED.md
  README.md
  man/man1/fzf.1
  src/options.go
  src/tmux.go
Labels: feature

#4179 [fish] Allow setting multi-select and list reload for history
  shell/key-bindings.fish
Labels: enhancement

#4192 Add 'pathname' tiebreak
  CHANGELOG.md
  README.md
  man/man1/fzf.1
  plugin/fzf.vim
  src/core.go
  src/options.go
  src/result.go
Labels: feature

#4210 Add --no-input to hide the input section
  CHANGELOG.md
  man/man1/fzf.1
  src/options.go
  src/terminal.go
  src/tui/dummy.go
  src/tui/light.go
  src/tui/tcell.go
  src/tui/tui.go
  test/test_layout.rb
Labels: feature, discussion
